# Virtual environment
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution
build/
dist/
*.egg-info/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Environment variables
.env

# Pytest
.pytest_cache/
.cache/

# Reports
reports/
logs/

# Coverage
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints/
